[submodule "gitmodules/osx-clipboard-mode"]
	path = gitmodules/osx-clipboard-mode
	url = https://github.com/joddie/osx-clipboard-mode
[submodule "gitmodules/radian"]
	path = gitmodules/radian
	url = https://github.com/raxod502/radian
[submodule "gitmodules/pdf-continuous-scroll-mode.el"]
	path = gitmodules/pdf-continuous-scroll-mode.el
	url = https://github.com/dalanicolai/pdf-continuous-scroll-mode.el
[submodule "gitmodules/fzf.el"]
	path = gitmodules/fzf.el
	url = https://github.com/NightMachinary/fzf.el
